{% extends 'layout/main.html' %}

{% block identity %}{% endblock %}

{% block content %}
<div id="content" class="align_center">
    {% if messages %}
        {% for message in messages %}
        <p class="dark-green important big">
            {{ message }}
        </p>

        <br />

        <div class="ui-grid-a">
            <a href="{% url 'index' %}" class="ui-block-a" data-role="button" data-icon="home" data-iconpos="top">Retour à la page d'accueil</a>
            <a href="{% url 'login' %}" class="ui-block-b" data-role="button" data-icon="check" data-iconpos="top">Aller à la page de connexion</a>
        </div>
        {% endfor %}
    {% else %}
        <h3 class="big dark-green">Inscrivez-vous à WikiWikiWeb !</h3>

        <br />

        <form action="{% url 'subscribe' %}" id="subscribe_form" method="post" class="limit center">
            {% csrf_token %}

            <div>
                <label for="id_username">{{ subscribe_form.username.label }}:</label>
                {{ subscribe_form.username }}
                {{ subscribe_form.username.errors }}
                {{ subscribe_form.username.help_text }}
            </div>

            <br />

            <div>
                <label for="id_password1">{{ subscribe_form.password1.label }}:</label>
                {{ subscribe_form.password1 }}
                {{ subscribe_form.password1.errors }}
            </div>

            <br />

            <div>
                <label for="id_password2">{{ subscribe_form.password2.label }}:</label>
                {{ subscribe_form.password2 }}
                {{ subscribe_form.password2.errors }}
                {{ subscribe_form.password2.help_text }}
            </div>

            <br />

            <div>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <label for="id_captcha" class="important">Êtes vous un humain ?</label>
                        <br /><br />
                        Pour le vérifiez,
                        <br />
                        saisissez le mot suivant:
                    </div>
                    <div class="ui-block-b">
                        {{ subscribe_form.captcha }}
                    </div>
                    {{ subscribe_form.captcha.errors }}
                    {{ subscribe_form.captcha.help_text }}
                </div>
            </div>

            {% if subscribe_form.non_field_errors %}
                <br />
                {{ subscribe_form.non_field_errors }}
                <br />
            {% else %}
                <br /><br />
            {% endif %}

            <input type="submit" name="submit" value="M'inscrire" />
        </form>
    {% endif %}
</div>
{% endblock %}
